h1,
h2 {
  font-weight: normal;
}

.title,
.subtitle {
  text-align: center;
  color: white;
}

html,
body {
  background: linear-gradient(cyan, transparent),
    linear-gradient(-45deg, magenta, transparent);
  background-blend-mode: multiply;
  overflow-y: auto;
}

.titlemoji {
  font-size: 40px;
  text-align: center;
}

.login {
  display: flex;
  align-items: center;
}

.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-inverted.is-outlined:focus {
  background-color: transparent;
  color: black;
}
