h1,
h2 {
  font-weight: normal;
}

.box {
  margin: auto;
  margin-top: 100px;
  width: 350px;
  background: linear-gradient(cyan, transparent),
    linear-gradient(-45deg, magenta, transparent);
  background-blend-mode: multiply;
}

.boxframe {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(cyan, transparent),
    linear-gradient(-45deg, magenta, transparent);
  background-blend-mode: multiply;
}
